# Multi-Agent System Configuration
QDRANT_CLOUD_API_KEY=your_qdrant_cloud_api_key_here
# LLM Provider Configuration
LLM_PROVIDER=gemini
LLM_MODEL=gemini-2.0-flash
LLM_TEMPERATURE=0.2
LLM_TOP_P=0.2
LLM_TOP_K=40


# Google Gemini API Key (required if using Gemini)
GOOGLE_API_KEY=your_google_api_key_here

# OpenAI API Key (required if using OpenAI)
OPENAI_API_KEY=your_openai_api_key_here

# Database Configuration
MONGODB_URI=mongodb+srv://your_mongodb_uri_here
MONGODB_DATABASE=multi_agent_system
REDIS_URL=redis://localhost:6379

# Application Settings
DEBUG=false

#s3
S3_ENDPOINT=your_s3_endpoint_here
S3_ACCESS_KEY=your_s3_access_key_here
S3_SECRET_KEY=your_s3_secret_key_here
S3_BUCKET_NAME=your_s3_bucket_name_here
S3_REGION=your_s3_region_here